@import"https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

*::-webkit-scrollbar {
	display: none;
}

#root {
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	height: 100vh;
	overflow-x: hidden;
}

.main-container {
	width: 100%;
	height: 100vh;
	margin-left: 100px;
	scroll-snap-align: start;
}

.container-fluid {
	width: 1880px;
	padding: 0;
}

.col-12 {
	flex: 0 0 auto;
	width: 100%;
}

.left-col {
	width: 797px;
	background: #e5e5e5 !important;
}

.right-col {
	width: 1123px;
}

.pt5 {
	padding-top: 5px !important;
}

.pt-10 {
	padding-top: 10px !important;
}

.pt-15 {
	padding-top: 15px !important;
}

.pt-20 {
	padding-top: 20px !important;
}